@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@300&display=swap');

* {
	--primary-color: #4f46e5;
	--background-color: #1e293b;
	--text-color: #f9fafb;
	margin: 0;
	padding: 0;
	font-family: 'Anek Tamil', sans-serif;
}

body {
	color: var(--text-color);
	background: var(--background-color);
}

nav {
	background: var(--primary-color);
	padding: 1.5rem;
	margin-bottom: 2rem;
}

a {
	text-decoration: none;
	color: var(--text-color);
	padding: 0.5rem;
	font-weight: 1000;
	font-size: 1rem;
}

.item-active {
	border-bottom: 2px solid;
	font-weight: bold;
}

.formula {
	text-align: center;
	width: 90%;
	margin: auto;
	padding: 0.5rem;
	border: 2px solid var(--primary-color);
}

.input-container {
	margin: 1rem 0;
}

.input-container input {
	padding: 0.5rem;
	font-size: 1rem;
	width: 97%;
	margin: 0.5rem 1rem 1rem 0;
}

.heading {
	text-align: center;
	margin-bottom: 2rem;
}

.question-container {
	padding: 2rem;
	border: 2px solid var(--primary-color);
	border-radius: 0.5rem;
	margin: 1rem 0;
}

.question-container p {
	margin-bottom: 1rem;
}

.question-container label {
	margin-right: 0.5rem;
}

.css-btn {
	padding: 0.5rem;
	background: var(--primary-color);
	color: var(--text-color);
	border: 1px solid var(--primary-color);
	border-radius: 0.25rem;
	width: 100%;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
}

.css-output {
	text-align: center;
	margin: 2rem 0;
}